.table-structure{
    width:50%;
    margin:50px auto;
    border:1px solid rgb(229, 229, 229);
}

.table-heading{
    display:flex;
    justify-content: space-between;
    background-color:rgb(244, 244, 243);
  
    
}

.heading{
    width:100px;
    text-align: center;
    padding:10px;
    border:1px solid rgb(229, 229, 229);
}



.row-item{
    display:flex;
    justify-content: space-between;
    border:1px solid rgb(229, 229, 229);
    
  
   
}

.item{
    width:100px;
    padding:10px;
    text-align:center;
    border:1px solid rgb(229, 229, 229);
}


