<div class="table-structure">
    <div class="table-heading">
        <div class="heading">Task Name</div>
        <div class="heading">Priority</div>
        <div class="heading">Completed</div>
        <div class="heading">+</div>
    </div>
    <div class="table-rows">
        @for(task of tasks; track task.id){
        
         <div class="row-item"> 
            <div class="item">
                {{task.name}}
            </div>
            <div class="item">
                {{task.priority}}
            </div>
            <div class="item">
                <input type="checkbox" [(ngModel)] ="checked" (click)="handleCheck(task.id)">
            </div>
            <div class="item">
                <fa-icon [icon]="faTrash" (click)="handleDelete(task.id)"></fa-icon>
            </div>
         </div>  
        
        }
    </div>
    
</div>
    
